In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier

In [20]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample = pd.read_csv('sample_submission.csv')
sample

       ImageId  Label
0            1      0
1            2      0
2            3      0
3            4      0
4            5      0
...        ...    ...
27995    27996      0
27996    27997      0
27997    27998      0
27998    27999      0
27999    28000      0

[28000 rows x 2 columns]

In [3]:
train1 = train
y_train = train1['label']
x_train = train1.drop(['label'],axis=1)

In [4]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [5]:
pred = knn.predict(test)

In [23]:
a = range(1,28001)
submission= pd.DataFrame({
    'ImageId': a,
    'Label': pred
})
#submission.set_index('ImageId',inplace=True)
submission.to_csv('submission.csv',index=False)

In [25]:
submission = pd.read_csv('submission.csv')
submission.tail()

       ImageId  Label
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

In [22]:
sample.tail()

       ImageId  Label
27995    27996      0
27996    27997      0
27997    27998      0
27998    27999      0
27999    28000      0